/* ------------------------ Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* ------------------------ Variables */


/* ------------------------ Globales */
html,body{
    padding: 0px;
    margin: 0px;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

/* ------------------------ Portada */
.titulo{
    padding-bottom: 35%;
}

.imagen_portada img{
    max-width: 100%;
    /* filter: blur(1px); */
}

.imagen_portada .content{
    text-align: center;
    color: #ffffff;
    margin-top: -35%;
    position: relative;
}

.imagen_portada .content h1{
    font-size: 55px;
}

/* ------------------------ Quien soy */
.quien_soy{
    padding-bottom: 52%;
}
.quien_soy .text_content{
    text-align: justify;
    font-size: 25px;
}

.quien_soy .image_content{
    text-align: center;
}

.quien_soy .image_content img{
    max-width: 100%;
    height: 500px;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: -5%;
}

/* ------------------------ Dominio de Estilos */
.estilos{
    padding-bottom: 12.5%;
    text-align: center;
}

.estilos .text_content{
    font-size: 30px;
    position: relative;
    /* color: #ffffff; */
    padding: 0 55% 0 0%;
}

.estilos .text_content h3{
    background-color: #ffffff;
    box-shadow: 0px 6px 12px #00000029;
    border: 2px solid;
}

.estilos .collage{
    margin-top: -62%;
}

.estilos .image_content img{
    max-width: 100%;
    height: 700px;
    box-shadow: 0px 3px 6px #00000029;
}

.estilos .collage_images .image_content img{
    max-width: 100%;
    height: 330px;
    box-shadow: 0px 3px 6px #00000029;
}

.estilos .col-12 .image_content img{
    max-width: 100%;
    height: 330px;
    box-shadow: 0px 3px 6px #00000029;
}

/* ------------------------ Estilo Infatil */
.infantil{
    text-align: center;
    padding-bottom: 12.5%;
}

.infantil .image_content img{
    max-width: 100%;
    height: 700px;
}

.infantil .text_content{
    text-align: justify;
    color: #6D6D6D;
    padding-top: 10%;
}

.infantil .text_content h3{
    font-size: 45px;
}

.infantil .text_content p{
    font-size: 30px;
}

/* ------------------------ Pixel Art */
.pixelart{
    text-align: center;
    padding-bottom: 12.5%;
}

.pixelart .image_content img{
    max-width: 100%;
    height: 700px;
}

.pixelart .text_content{
    text-align: justify;
    color: #6D6D6D;
    padding-top: 5%;
}

.pixelart .text_content h3{
    font-size: 45px;
}

.pixelart .text_content p{
    font-size: 30px;
}

.pixelart .collage-collection{
    padding-top: 12.5%;
}

.pixelart .collage-image{
    padding-bottom: 12.5%;
}

.pixelart .col-12 .image_content{
    box-shadow: 0px 8px 15px #00000029;
}

/* ------------------------ Mi estilo */
.mi_estilo{
    text-align: center;
    padding-bottom: 12.5%;
}

.mi_estilo .image_content img{
    max-width: 100%;
    height: 600px;
}

.mi_estilo .text_content{
    text-align: justify;
    color: #6D6D6D;
    padding-top: 5%;
}

.mi_estilo .text_content h3{
    font-size: 45px;
}

.mi_estilo .text_content p{
    font-size: 30px;
}

.mi_estilo .collage{
    padding-top: 15%;
}

.mi_estilo .collage .image_content{
    box-shadow: 0px 8px 15px #00000029;
}


/* ------------------------ Contacto */
.contacto{
    text-align: center;
}

.contacto .image_content img{
    max-width: 100%;
    height: 700px;
}

.contacto .text_content{
    text-align: center;
    color: #6D6D6D;
    padding-top: 25%;
    line-height: 70px;
}

.contacto .text_content h3{
    font-size: 45px;
}

.contacto .text_content p{
    font-size: 30px;
}