@media (max-width: 800px) {
    /* ------------------------ Portada */
    .titulo{
        padding-bottom: 15%;
    }

    .imagen_portada .content{
        text-align: center;
        color: #6D6D6D;
        margin-top: -35%;
        position: relative;
    }
    
    .imagen_portada .content h1{
        font-size: 55px;
        color: #ffffff;
    }

    /* ------------------------ Quien soy */
    .quien_soy{
        padding-bottom: 15%;
    }

    /* ------------------------ Dominio de Estilos */
    .estilos{
        padding-bottom: 15%;
    }

    .estilos .text_content{
        font-size: 25px;
        padding: 0 0% 0 0%;
    }

    .estilos .collage{
        margin-top: -0%;
    }

    .estilos .image_content img{
        max-width: 100%;
        height: 500px;
        box-shadow: 0px 3px 6px #00000029;
    }

    /* ------------------------ Estilo Infatil */
    .infantil{
        padding-bottom: 12.5%;
    }
    
    .infantil .image_content_section img{
        max-width: 100%;
        height: 700px;
        margin-bottom: -45%;
        padding-top: 70%;
    }
    
    .infantil .text_content{
        text-align: justify;
        color: #6D6D6D;
        padding-top: 10%;
        padding-bottom: 150%;
        margin-top: -165%;
    }
    
    .infantil .text_content h3{
        font-size: 45px;
    }
    
    .infantil .text_content p{
        font-size: 30px;
    }
    /* ------------------------ Pixel Art */
    .pixelart{
        text-align: center;
        padding-bottom: 12.5%;
    }

    .pixelart .image_content img{
        max-width: 100%;
        height: 400px;
    }

    .pixelart .text_content{
        text-align: justify;
        color: #6D6D6D;
        padding-top: 5%;
    }

    .pixelart .collage-collection{
        padding-top: 12.5%;
    }

    .pixelart .collage-image{
        padding-bottom: 12.5%;
    }

    .pixelart .col-12 .image_content{
        box-shadow: 0px 8px 15px #00000029;
    }
}


@media (max-width: 500px) {
    /* ------------------------ Portada */
    .titulo{
        padding-bottom: 5%;
    }

    /* ------------------------ Quien soy */

    /* ------------------------ Dominio de Estilos */
    .estilos .image_content img{
        height: 400px;
    }

    /* ------------------------ Estilo Infatil */
    .infantil{
        padding-bottom: 0%;
    }

    .infantil .image_content_section img{
        margin-bottom: -270%;
        padding-top: 250%;
        height: 400px;
    }
    
    .infantil .text_content{
        padding-top: 70%;
        padding-bottom: 160%;
        margin-top: -150%;
    }

    /* ------------------------ Pixel Art */
    .pixelart .image_content img{
        height: 250px;
    }

    /* ------------------------ Mi estilo */
    .mi_estilo .image_content img{
        height: 300px;
    }

    /* ------------------------ Contacto */
    .contacto .image_content img{
        padding-top: 30%;
        height: 300px;
    }

    .contacto .text_content{
        padding-top: 0%;
        line-height: 50px;
    }
}

@media (max-width: 400px) {
    .infantil .image_content_section img{
        margin-bottom: -330%;
        padding-top: 250%;
        height: 400px;
    }
}